extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="FUll Name")
            input(type="text", name="email", placeholder="Email")
            input(type="text", name="password", placeholder="pasword")
            input(type="text", name="password", placeholder="password2")
            input(type="submit", value="Join Now")
    include partials/socialLogin